.sidenav-main-container{
    width: 15rem;
}
.sidenav-inner-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 4rem;
    gap: 2rem;
    
}

.snc-elements{
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.snc-elements:hover {
    background-color: #f0f0f0;
  }